CONTAINER_NAME="chemex"
ENV_PATH="./data/.env"
PANEL_APP_PORT_HTTP="40028"
PANEL_DB_HOST="mysql"
CHEMEX_DB_PORT="3306"
PANEL_DB_NAME="chemex"
PANEL_DB_USER="chemex"
PANEL_DB_USER_PASSWORD="mysql_password"
PANEL_REDIS_DB_HOST="redis"
PANEL_DB_ROOT_PASSWORD="redis_password"
REDIS_DB_PORT="6379"
