CONTAINER_NAME="sd-comfyui"
PANEL_APP_PORT_HTTP="40187"
DATA_PATH="./data/data"
OUTPUT_PATH="./data/output"
SD_CONSOLE_CLI_COMFY="--listen 0.0.0.0 --port 8188"
SD_CONSOLE_APT_COMFY=""
SD_CONSOLE_PIP_COMFY=""
SD_CONSOLE_DEVICE_IDS="0"
