CONTAINER_NAME="photoview"
CACHE_PATH="./data/cache"
DATA_PATH="./data/photos"
PANEL_APP_PORT_HTTP="40100"
PANEL_DB_HOST="mysql"
PANEL_DB_NAME="photoview"
PANEL_DB_USER="photoview"
PANEL_DB_USER_PASSWORD="photoview_fMHR4h"
PHOTOVIEW_DB_PORT="3306"

